@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}

.cycling {
    font-family: Roboto-Thin;
}

.cycling img {
    max-width: 50%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
}
.cardOne {
    display: flex;
    align-items: center;
    border-bottom: 0.5px solid black;
    margin: 1rem;
    padding: 1rem;
}

.cardOne img {
    max-width: 40%;
}

.cardTwo {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    margin: 1rem;
    padding: 1rem;
    margin-bottom: 0;
}
.cardTwoText {
    text-align: end;
    border-bottom: 0.5px solid black;
    padding: 0 0 2rem 0;
    /* font-size: 16px; */
    margin: 2rem;
}
.cardTwo img {
    max-width: 40%;
}

.text {
    padding: 3rem;
}
.cardThree {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.cardThreeText {
    padding: 0rem 2rem;
}
.photoSectionOne {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.photoSectionOne img:first-child {
    align-self: flex-start;
}

.photoSectionTwo {
    max-width: 90%;
    padding: 2rem;
}
