@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}

.about {
    font-family: Roboto-Thin;
}

.fullPageContainer {
    border: 2px solid #aeaaa245;
    border-radius: 50px 0px 0 50px;
    border-left: none;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.imageContainer img {
    max-width: 55%;
    border-radius: 50px 0 50px 0;
    object-fit: cover;
}

.imageContainer h1 {
    padding-bottom: 1rem;
}
.imageContainer p,
h1 {
    padding: 0 2rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 850px) {
    .wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .fullPageContainer {
        width: 80vw;
        border-left: 2px solid #aeaaa245;
    }

    .imageContainer {
        flex-direction: column;
        gap: 2rem;
    }

    .imageContainer img {
        max-width: 100%;
    }
}
