@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}

.about {
    font-family: Roboto-Thin;
}

.fullPageContainer {
    border: 2px solid #aeaaa245;
    border-radius: 50px 0px 0 50px;
    border-left: none;
}
.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.imageContainer img {
    max-width: 55%;
    border-radius: 50px 0 0 0;
    object-fit: cover;
}

.aboutWrapper .imageContainer h1 {
    padding-bottom: 1rem;
    font-family: Roboto-Thin;
}

.aboutWrapper .imageContainer p,
.aboutWrapper .imageContainer h1 {
    padding: 0 2rem;
    padding-bottom: 1rem;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.aboutWrapper p {
    margin-top: 0.5rem;
}

@media only screen and (max-width: 1050px) {
    .aboutWrapper {
        font-size: 12px;
    }

    .aboutWrapper h1 {
        font-size: 18px;
    }
    .aboutWrapper p {
        margin-top: 0rem;
    }
}

@media only screen and (max-width: 850px) {
    .aboutWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
    .fullPageContainer {
        width: 80vw;
        border-left: 2px solid #aeaaa245;
    }

    .imageContainer {
        flex-direction: column;
        gap: 2rem;
    }

    .imageContainer img {
        max-width: 100%;
    }

    .aboutWrapper .textContainer {
        padding-bottom: 2rem;
    }

    .imageContainer {
        height: unset;
    }
}
