@font-face {
    src: url("/../assets/fonts/JuliusSansOne-Regular.ttf");
    font-family: Julius;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem 1rem 2rem;
}
.navLinks {
    display: flex;
    gap: 2rem;
    font-family: Julius;
}

a {
    text-decoration: none;
    color: #3e2e29;
}

.navLinks a:hover {
    border-bottom: 1px solid#3e2e29;
}

.logo:hover {
    border-bottom: none;
}
.hamburgerMenu {
    display: none;
}

.hamburgerButton {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 14px;
}
.hamburgerBar {
    background-color: black;
    width: 100%;
    height: 2px;
}

@media only screen and (max-width: 850px) {
    .hamburgerMenu {
        display: block;
    }
    .navLinks {
        display: none;
    }
    .navBar {
        align-items: flex-start;
    }
    svg {
        width: 70%;
    }
}
