@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}

@font-face {
    src: url("/../assets/fonts/JuliusSansOne-Regular.ttf");
    font-family: Julius;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.wrapper h1 {
    font-size: 1.5rem !important;
    font-family: Roboto-Thin;
}
.bold {
    font-weight: bold;
}

.wrapper p {
    font-size: 1rem;
    font-family: Roboto-Thin;
}

.fullPageContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #aeaaa245;
    border-radius: 50px 50px 0 50px;
    width: 60%;
    font-family: Roboto-Thin;
}

.wrapper img {
    width: 100%;
    border-radius: 50px 50px 0 50px;
}

.imageContainer {
    width: 40%;
    display: flex;
    align-items: center;
    height: 100%;
}

.textContainer {
    width: 60%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
}

@media only screen and (max-width: 1000px) {
    .fullPageContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        margin: 0 !important;
        width: 80% !important;
    }

    .textContainer {
        padding: 1rem;
        gap: 5px;
        margin-left: 10px;
    }

    .fullPageContainer h1 {
        font-size: 18px;
    }
    .fullPageContainer p {
        font-size: 16px;
    }

    /* .imageContainer {
        width: 40%;
        display: flex;
        align-items: center;
        height: 100%;
    } */
}
@media only screen and (max-width: 600px) {
    .fullPageContainer {
        margin: 2rem;
    }
    .imageContainer {
        display: none;
    }

    .textContainer {
        padding: 2rem;
        width: 80%;
    }
}
