@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}

@font-face {
    src: url("/../assets/fonts/JuliusSansOne-Regular.ttf");
    font-family: Julius;
}

body {
    font-family: Roboto-Thin;
}

h2 {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.fullPageontainer {
    display: flex;
    justify-content: center;
}

.price {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}
/* container som håller hela sidan */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem 5rem;
    /* padding: 1rem; */
}

/* container som håller varje enskilt rum och dess info */
.roomContainer {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.roomContainer h2 {
    font-family: Julius;
    font-size: 1rem;
}

.roomContainer p {
    font-size: 0.9rem;
}

.roomContainer img {
    width: 100%;
}

/* styling för knapparna */
.linkContainer {
    background-color: #fd6363;
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    border-radius: 50px 100px 0 50px;
}

.linkContainer:hover {
    background-color: white;
    border: solid 1px #fd6363;
}

.link {
    font-size: 0.8rem;
    font-family: Julius;
    color: white;
    padding: 0.1rem;
}

.link:hover {
    color: #fd6363;
}

/* container som håller varje enskilt rum men har en större width för att få en mörkare bakgrund bakom vissa rum */
.coloredContainer {
    background-color: #d3d2cf45;
}

.coloredContainer:first-child {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
}

.coloredContainer:nth-child(3) {
    background-color: #d3d2cf45;
    display: flex;
    justify-content: right;
}

.coloredContainer:last-child {
    background-color: #ffffff;
}

.coloredContainer:nth-child(2) {
    border-radius: 0 0 0 35px;
}

.coloredContainer:nth-child(3) {
    border-radius: 0 0 35px 0;
}
.coloredContainer:nth-child(2) .linkContainer {
    border-radius: 0 50px 50px 100px;
}

.coloredContainer:nth-child(3) .linkContainer {
    border-radius: 50px 0 100px 50px;
}

.coloredContainer:nth-child(4) .linkContainer {
    border-radius: 100px 50px 50px 0;
}

@media only screen and (max-width: 1000px) {
    .roomContainer {
        width: 50%;
    }
}
@media only screen and (max-width: 850px) {
    h2 {
        font-size: 1.5rem !important;
        margin-top: 2rem;
    }
    .container {
        grid-template-columns: 1fr;
        justify-content: center;
        gap: 2rem 5rem;
        padding: 1rem;
    }
    .roomContainer {
        flex-direction: column;
        width: 100%;
    }

    .roomContainer p,
    h2 {
        padding-left: 3rem;
        padding-right: 3rem;
        padding-top: 1rem;
    }
    .linkContainer {
        width: 50%;
        display: flex;
        justify-self: center;
        align-self: center;
    }

    .roomInfo {
        width: 100%;
        background-color: rgb(255, 255, 255);
        padding-bottom: 2rem;
        border: 2px solid #d3d2cf45;
    }
    .linkWrapper {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
}
