@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}

@font-face {
    src: url("/../assets/fonts/JuliusSansOne-Regular.ttf");
    font-family: Julius;
}

body {
    font-family: Roboto-Thin;
}

.fullPageontainer {
    display: flex;
    justify-content: center;
}

/* container som håller hela sidan */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    gap: 2rem 5rem;

    padding: 1rem;
}

/* container som håller varje enskilt rum och dess info */
.roomContainer {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.roomContainer h2 {
    font-family: Julius;
    font-size: 1rem;
}

.roomContainer p {
    font-size: 0.9rem;
}

.roomContainer img {
    width: 100%;
}

/* styling för knapparna */
.linkContainer {
    background-color: #dcd0d0;
    display: flex;
    justify-content: center;
    padding: 0.2rem;
    margin-top: 2rem;
}

.linkContainer:hover {
    background-color: #ff6f9a;
}

.link {
    font-size: 0.9rem;
    font-family: Julius;
    color: white;
    padding: 0.1rem;
}

.linkContainer {
    border-radius: 50px 100px 0 50px;
}

/* .roomContainer:nth-child(2) .linkContainer {
    border-radius: 0 50px 50px 100px;
}

.roomContainer:nth-child(3) .linkContainer {
    border-radius: 50px 0 100px 50px;
}

.roomContainer:nth-child(4) .linkContainer {
    border-radius: 100px 50px 50px 0;
} */

/* container som håller varje enskilt rum men har en större width för att få en mörkare bakgrund bakom vissa rum */
.coloredContainer {
    background-color: #d3d2cf45;
}

.coloredContainer:first-child {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: right;
}

.coloredContainer:nth-child(3) {
    background-color: #d3d2cf45;
    display: flex;
    justify-content: right;
}

.coloredContainer:last-child {
    background-color: #ffffff;
}

/* //test */
