@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}

@font-face {
    src: url("/../assets/fonts/JuliusSansOne-Regular.ttf");
    font-family: Julius;
}

span {
    margin-left: 1rem;
}

h2 {
    font-family: Julius;
    padding-top: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 1.5rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

input {
    border: 1px solid #dcd0d0;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
}

input[type="text"] {
    font-family: Julius;
    padding: 0.5rem;
}

select {
    font-family: Julius;
    color: #727374;
    border: 1px solid #dcd0d0;
    box-shadow: none;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 0.5rem;
}

.buttonContainer button {
    background-color: #dcd0d0;
    align-self: left;
    width: 50%;
    border: none;
    border-radius: 50px 0 100px 50px;
    padding: 0.3rem;
    color: white;
    font-family: Julius;
    background-color: #fd6363 !important;
    cursor: pointer;
}

.fullpageContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #727374;
    padding-top: 5rem;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-family: Roboto-Thin;
    font-size: 0.8rem;
    gap: 3rem;
}

.buttonContainer button:hover {
    color: #fd6363;
    background-color: white !important;
    border: 1px solid #fd6363 !important;
}

.rules {
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: Roboto-Thin;
    padding-top: 3rem;
}

.errorMessage {
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 108, 108);
}

@media only screen and (max-width: 850px) {
    .fullpageContainer {
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .fullpageContainer p {
        text-align: center;
    }
    .fullpageContainer button {
        width: 100%;
    }
    .fullpageContainer form {
        width: 90% !important;
        margin-left: unset;
    }

    .fullpageContainer select {
        width: 100%;
    }
}
