@font-face {
    src: url("/../assets/fonts/Roboto-Thin.ttf");
    font-family: Roboto-Thin;
}
@font-face {
    src: url("/../assets/fonts/JuliusSansOne-Regular.ttf");
    font-family: Julius;
}
.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.bookingPage h1 {
    text-align: center;
    padding: 2rem;
    font-family: Julius;
}
.logOut {
    background-color: white !important;
    color: rgb(58, 53, 53) !important;
    border: 1px solid rgb(58, 53, 53) !important;
    width: 100%;
    border-radius: 50px 50px 50px 0 !important;
}

.logOut:hover {
    background-color: rgb(58, 53, 53) !important;
    color: white !important;
    border: 1px solid rgb(58, 53, 53) !important;
    width: 100% !important;
}

.bookingContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(244, 242, 241);
}
.bookingCard {
    background-color: white;
    font-family: Roboto-Thin;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    border-radius: 15px 15px 0px 15px;
}
.bookingPage button {
    width: 100%;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
    background-color: #fd6363;
    border: none;
    border-radius: 50px 50px 0px 50px;
    color: white;
    font-family: Roboto-Thin;
    font-size: 1rem;
}

button:hover {
    background-color: white;
    border: 1px solid #fd6363;
    color: #fd6363;
}
.bookingDate {
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 15px;
}

.logOutContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.logOutContainer p {
    background-color: white;
    color: rgb(58, 53, 53);
    font-size: 2rem;
    font-family: Roboto-Thin;
}

.typeOfRoom {
    font-size: 1.5rem;
}

@media only screen and (max-width: 850px) {
    .logOutContainer p {
        background-color: white;
        color: rgb(58, 53, 53);
        font-size: 1rem;
        font-family: Roboto-Thin;
    }
}
